<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miapp.xanostorekotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android.label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.XanoStoreKotlin"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <!-- Declaración de la actividad de Login como punto de entrada -->
        <activity
            android:name=".ui.auth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Resto de las actividades -->
        <activity android:name=".ui.admin.HomeAdminActivity" />

        <activity
            android:name=".ui.user.HomeUserActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />

    </application>

</manifest>
